version: '3.9'

services:

  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: ./api-server
    container_name: node-api
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://mongo:27017
    depends_on:
      - mongo

  worker:
    build: ./python-worker
    container_name: python-worker
    restart: always
    environment:
      MONGO_URI: mongodb://mongo:27017
    depends_on:
      - mongo

volumes:
  mongo_data:
